<?xml version="1.0" encoding="UTF-8"?>
<config description="Nestle Purina Wisbech">

    <logPath/>
    <XSLTPath/>
    <logArchiveRetentionDays/>

    <map id="map1" enabed="Y" description="Konnect Material Master to C4J Material Master">

        <input id="in1" description="Read Konnect Material Master">
            <type>XML</type>
            <path>./interface/input/1 (Konnect - Material)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>KONNECT_MATERIAL_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Material Master">
            <path>./interface/output/1 (C4J - Material)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map2" enabed="Y" description="S95 Process Order to C4J Process Order">

        <input id="in1" description="Read SAP S95 CR XML">
            <type>XML</type>
            <path>./interface/input/2 (S95 Process Order)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_PROCESS_ORDER_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Process Order XML">
            <path>./interface/output/2 (C4J - Process Order)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map3" enabed="Y" description="Synchro CSV">

        <input id="in1" description="Read CSV Example">
            <type>CSV</type>
            <path>./interface/input/3 (Comma Separated Variables)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>CSV_to_XML_Example.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML Example">
            <path>./interface/output/3 (XML)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map4" enabed="Y" description="S95 Batch Status Change to C4J Batch Status Change">

        <input id="in1" description="Read S95 Batch Status Change">
            <type>XML</type>
            <path>./interface/input/4 (S95 Batch Status Change)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_BATCH_STATUS_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Batch Status Change">
            <path>./interface/output/4 (C4J - Batch Status Change)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map5" enabed="Y" description="S95 Transfer Schedule to C4J Pallet Status Change">

        <input id="in1" description="Read SAP S95 TRANSFER ORDER XML">
            <type>XML</type>
            <path>./interface/input/5 (S95 Transfer Schedule)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_TRANSFER_SCHEDULE_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Pallet Status Change XML">
            <path>./interface/output/5 (C4J - Pallet Status Change)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map6" enabed="Y"
        description="S95 Process Order Status Change to C4J Process Order Status Change">

        <input id="in1" description="Read SAP S95 CRST XML">
            <type>XML</type>
            <path>./interface/input/6 (S95 Process Order Status Change)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_PROCESS_ORDER_STATUS_CHANGE_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Process Order Status Change XML">
            <path>./interface/output/6 (C4J - Process Order Status Change)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map7" enabed="Y" description="C4J Production Declaration to S95 Production Declaration">

        <input id="in1" description="Read C4J Prod Dec XML">
            <type>XML</type>
            <path>./interface/input/7 (C4J Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_S95_PRODDEC_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write S95 Prod Dec XML">
            <path>./interface/output/7 (S95 Production Declaration)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map8" enabed="Y" description="ASCII Flat File Fixed Column to XML">

        <input id="in1" description="Read ASCII Flat File">
            <type>ASCII</type>
            <path>./interface/input/8 (ASCII Flat File)</path>
            <mask/>
            <inputPattern>1-4,18-21</inputPattern>
            <pollingInterval>1000</pollingInterval>
            <XSLT>ASCII_to_XML_Example.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML">
            <path>./interface/output/8 (XML)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map9" enabed="Y" description="Tropos Material XML">

        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/9 (TROPOS Material XML)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>TROPOS_Material_to_Commander4j_Material.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML">
            <path>./interface/output/9 (C4J - Material)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map10" enabed="Y" description="Tropos Works Order XML">

        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/10 (TROPOS Works Order)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>TROPOS_WorksOrder_to_Commander4j_Process_Order.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML">
            <path>./interface/output/10 (C4J - Process Order)</path>
            <type>XML</type>
            <XSLT/>
        </output>

    </map>

    <map id="map11" enabed="Y" description="C4J Production Declaration to TROPOS Goods Receipt">

        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/11 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_TROPOS_GoodsReceipt_CSV.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write CSV">
            <path>./interface/output/11 (TROPOS - Goods Receipt)</path>
            <type>CSV</type>
            <optionDelimeter>^</optionDelimeter>
            <csvOptions>separator=,^quote=none</csvOptions>
            <XSLT/>
        </output>

    </map>

    <map id="map12" enabed="Y" description="C4J Production Declaration to ASCII Flat File">

        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/12 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_ASCII_Flat_File.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write ASCII File">
            <path>./interface/output/12 (ASCII Prod Dec)</path>
            <type>ASCII</type>
            <outputPattern>1-10,12-21,23-32</outputPattern>
            <XSLT/>
        </output>

    </map>
    
    <map id="map13" enabed="Y" description="C4J Production Dec to ASCII and CSV Files">
        
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/13 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_ASCII_Flat_File.xsl</XSLT>
            <intputFileExtension>xml</intputFileExtension>
        </input>
        
        <output id="out1" enabed="Y" description="Write ASCII File">
            <path>./interface/output/13 (Mixed Output)</path>
            <type>ASCII</type>
            <outputPattern>1-10,12-21,23-32</outputPattern>
            <outputFileExtension>txt</outputFileExtension>
            <XSLT/>
        </output>
        
        <output id="out2" enabed="Y" description="Write CSV">
            <path>./interface/output/13 (Mixed Output)</path>
            <type>CSV</type>
            <optionDelimeter>^</optionDelimeter>
            <csvOptions>separator=,^quote=none</csvOptions>
            <XSLT/>
        </output>
        
    </map>
    
    <map id="map14" enabed="Y" description="Wonderware FFMW Material Master to C4J Material Master">
        
        <input id="in1" description="Read FFMW Material Master">
            <type>XML</type>
            <path>./interface/input/14 (Wonderware FFMW Material)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>WONDERWARE_FFMW_XML_to_C4J_XML.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write Commander4j Material Master">
            <path>./interface/output/14 (Wonderware FFMW Material)</path>
            <type>XML</type>
            <XSLT/>
        </output>
        
    </map>

</config>
