<?xml version="1.0" encoding="UTF-8"?>
<config description="c4jMiddleware Example">

    <logPath/>
    <XSLTPath/>
    <logArchiveRetentionDays>3</logArchiveRetentionDays>
    <enableEmailNotifications>false</enableEmailNotifications>
    <statusReportTime>09:00:00</statusReportTime>
        
    <map id="map01" enabed="Y" description="Rockwell Material Master to C4J Material Master">
        <input id="in1" description="Read Rockwell Material Master">
            <type>XML</type>
            <path>./interface/input/01 (Rockwell FFMW Material)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>ROCKWELL_MM_FFMW_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Material Master">
            <path>./interface/output/01 (C4J - Material)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map02" enabed="Y" description="S95 Process Order to C4J Process Order">
        <input id="in1" description="Read SAP S95 CR XML">
            <type>XML</type>
            <path>./interface/input/02 (S95 Process Order)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_PROCESS_ORDER_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Process Order XML">
            <path>./interface/output/02 (C4J - Process Order)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map03" enabed="Y" description="Synchro CSV">
        <input id="in1" description="Read CSV Example">
            <type>CSV</type>
            <path>./interface/input/03 (Comma Separated Variables)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>CSV_to_XML_Example.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML Example">
            <path>./interface/output/03 (XML)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map04" enabed="Y" description="S95 Batch Status Change to C4J Batch Status Change">
        <input id="in1" description="Read S95 Batch Status Change">
            <type>XML</type>
            <path>./interface/input/04 (S95 Batch Status Change)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_BATCH_STATUS_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Batch Status Change">
            <path>./interface/output/04 (C4J - Batch Status Change)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map05" enabed="Y" description="S95 Transfer Schedule to C4J Pallet Status Change">
        <input id="in1" description="Read SAP S95 TRANSFER ORDER XML">
            <type>XML</type>
            <path>./interface/input/05 (S95 Transfer Schedule)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_TRANSFER_SCHEDULE_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Pallet Status Change XML">
            <path>./interface/output/05 (C4J - Pallet Status Change)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map06" enabed="Y"
        description="S95 Process Order Status Change to C4J Process Order Status Change">

        <input id="in1" description="Read SAP S95 CRST XML">
            <type>XML</type>
            <path>./interface/input/06 (S95 Process Order Status Change)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>S95_PROCESS_ORDER_STATUS_CHANGE_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Process Order Status Change XML">
            <path>./interface/output/06 (C4J - Process Order Status Change)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map07" enabed="Y" description="C4J Production Declaration to S95 Production Declaration">
        <input id="in1" description="Read C4J Prod Dec XML">
            <type>XML</type>
            <path>./interface/input/07 (C4J Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_S95_PRODDEC_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write S95 Prod Dec XML">
            <path>./interface/output/07 (S95 Production Declaration)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>
    
    <map id="map08" enabed="Y" description="ASCII Flat File Fixed Column to XML">
        <input id="in1" description="Read ASCII Flat File">
            <type>ASCII</type>
            <path>./interface/input/08 (ASCII Flat File)</path>
            <mask/>
            <inputPattern>1-4,18-21</inputPattern>
            <pollingInterval>1000</pollingInterval>
            <XSLT>ASCII_to_XML_Example.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML">
            <path>./interface/output/08 (XML)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map09" enabed="Y" description="Tropos Material XML">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/09 (TROPOS Material XML)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>TROPOS_Material_to_Commander4j_Material.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML">
            <path>./interface/output/09 (C4J - Material)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map10" enabed="Y" description="Tropos Works Order XML">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/10 (TROPOS Works Order)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>TROPOS_WorksOrder_to_Commander4j_Process_Order.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML">
            <path>./interface/output/10 (C4J - Process Order)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map11" enabed="Y" description="C4J Production Declaration to TROPOS Goods Receipt">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/11 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_TROPOS_GoodsReceipt_CSV.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write CSV">
            <path>./interface/output/11 (TROPOS - Goods Receipt)</path>
            <type>CSV</type>
            <optionDelimeter>^</optionDelimeter>
            <csvOptions>separator=,^quote=none</csvOptions>
            <XSLT/>
        </output>
    </map>

    <map id="map12" enabed="Y" description="C4J Production Declaration to ASCII Flat File">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/12 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_ASCII_Flat_File.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write ASCII File">
            <path>./interface/output/12 (ASCII Prod Dec)</path>
            <type>ASCII</type>
            <outputPattern>1-10,12-21,23-32</outputPattern>
            <XSLT/>
        </output>
    </map>

    <map id="map13" enabed="Y" description="C4J Production Dec to ASCII and CSV Files">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/13 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_to_ASCII_Flat_File.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write ASCII File">
            <path>./interface/output/13 (Mixed Output)</path>
            <type>ASCII</type>
            <outputPattern>1-10,12-21,23-32</outputPattern>
            <outputFileExtension>txt</outputFileExtension>
            <XSLT/>
        </output>

        <output id="out2" enabed="Y" description="Write CSV">
            <path>./interface/output/13 (Mixed Output)</path>
            <type>CSV</type>
            <optionDelimeter>^</optionDelimeter>
            <csvOptions>separator=,^quote=none</csvOptions>
            <XSLT/>
        </output>
    </map>

    <map id="map14" enabed="Y" description="W-ware FFMW Material to C4J MM">
        <input id="in1" description="Read FFMW Material Master">
            <type>XML</type>
            <path>./interface/input/14 (Wonderware FFMW Material)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>WONDERWARE_MM_FFMW_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write Commander4j Material">
            <path>./interface/output/14 (C4J - Material)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map15" enabed="Y" description="C4J Equipment Tracking to ASCII Flat File">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/15 (C4J Equipment Tracking)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_Equipment_XML_to_ASCII_Flat_File.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write ASCII File">
            <path>./interface/output/15 (C4J Equipment Tracking)</path>
            <type>ASCII</type>
            <outputPattern>1-4,5-12,13-16,17-18,19-20,21-28,29-30,31-32,33-34,35-40,41-50</outputPattern>
            <outputFileExtension>PAL</outputFileExtension>
            <XSLT/>
        </output>
    </map>

    <map id="map16" enabed="Y" description="Split inbound XML into 2 outbounds">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/16 (Single Input)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT/>
        </input>

        <output id="out1" enabed="Y" description="Write XML Copy 1">
            <path>./interface/output/16a (Single Input Output Copy 1)</path>
            <type>XML</type>
            <XSLT/>
        </output>

        <output id="out2" enabed="Y" description="Write XML Copy 2">
            <path>./interface/output/16b (Single Input Output Copy 2)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>
    
    <map id="map17" enabed="Y" description="Excel Spreadsheet to CSV">
        <input id="in1" description="Read Excel File">
            <type>XLS</type>
            <path>./interface/input/17 (Excel)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT/>
        </input>

        <output id="out1" enabed="Y" description="Write CSV File">
            <path>./interface/output/17 (CSV)</path>
            <type>CSV</type>
            <optionDelimeter>^</optionDelimeter>
            <csvOptions>separator=,^quote=none</csvOptions>
            <XSLT/>
        </output>
    </map>
    
     <map id="map18" enabed="Y" description="SAP Idoc Material Master to C4J XML">
        <input id="in1" description="Read IDOC">
            <type>IDOC</type>
            <path>./interface/input/18 (SAP IDOC Material Master)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <idocSchemaFilename>./idoc/schema/ZMATMAS03c.txt</idocSchemaFilename>
            <XSLT>ROCKWELL_MM_FFMW_XML_to_C4J_XML.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write XML File">
            <path>./interface/output/18 (C4J - Material)</path>
            <type>XML</type>
        </output>
    </map>
    
    <map id="map19" enabed="Y" description="Pre Advice XML to Excel Spreadsheet">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/19 (XML to Excel)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>XML to Excel Pre Advice Journey Ref.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write Excel XML File">
            <path>./interface/output/19 (XML to Excel)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>
  
    <map id="map20" enabed="Y" description="Pre Advice XML to ASCII File">
        <input id="in1" description="Read XML File">
            <type>XML</type>
            <path>./interface/input/20 (XML to ASCII)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>XML to ASCII Pre Advice Journey Ref.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write ASCII File">
            <path>./interface/output/20 (XML to ASCII)</path>
            <type>ASCII</type>
            <outputPattern>1-20,21-40</outputPattern>
            <XSLT/>
        </output>
    </map>
    
    <map id="map21" enabed="Y" description="Email Send">
        <input id="in1" description="Read File">
            <type>EMAIL</type>
            <mask/>
            <path>./interface/input/21 (Email Send)</path>
            <pollingInterval>1000</pollingInterval>
        </input>
        <output id="out1" enabed="Y" description="Write File">
            <path>./interface/output/21 (Email Send)</path>
            <type>EMAIL</type>
            <subject>Test Email</subject>
            <message>Open Attached using Excel</message>
            <emailListID>Excel</emailListID>
        </output>
    </map>

    <map id="map22" enabed="Y" description="Atlas XML filtered to C4J XML">
        <input id="in1" description="Read Atlas XML">
            <type>XML</type>
            <path>./interface/input/22 (Atlas Journey XML)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>ATLAS_XML_to_C4J_XML.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write Commander4j XML">
            <path>./interface/output/22 (C4J Journey XML)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>

    <map id="map23" enabed="Y" description="CSV to DB">
        <input id="in1" description="Read CSV Example">
            <type>CSV</type>
            <path>./interface/input/23 (CSV)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>CSV_to_DB_Example.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write DB">
            <path>./interface/output/23 (DB)</path>
            <type>DB</type>
            <XSLT/>
        </output>
    </map>
    
    <map id="map24" enabed="Y" description="Pre Advice XML to CSV">
        <input id="in1" description="Read XML">
            <type>XML</type>
            <path>./interface/input/24 (XML Pre Advice to CSV)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>Commander4j_to_PreAdvice_CSV.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write CSV">
            <path>./interface/output/24 (XML Pre Advice to CSV)</path>
            <type>RAW</type>
            <XSLT></XSLT>
        </output>
    </map>
    
    <map id="map25" enabed="Y" description="C4J Production Declaration Rounded Expiry Time">
        <input id="in1" description="Read C4J Prod Dec XML">
            <type>XML</type>
            <path>./interface/input/25 (C4J Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>C4J_PRODDEC_XML_EXPIRY_23_59_59.xsl</XSLT>
        </input>
        
        <output id="out1" enabed="Y" description="Write S95 Prod Dec XML">
            <path>./interface/output/25 (C4J Production Declaration Expiry 235959)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>
    
     <map id="map26" enabed="Y" description="EPCIS to TraceLink">
        <input id="in1" description="Read EPCIS">
            <type>XML</type>
            <path>./interface/input/26 (EPCIS)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT>EPCIS_to_TRACELINK.xsl</XSLT>
        </input>

        <output id="out1" enabed="Y" description="Write TraceLink">
            <path>./interface/output/26 (TraceLink)</path>
            <type>XML</type>
            <XSLT/>
        </output>
    </map>    
    
    <map id="map27" enabed="Y" description="Send to FTP destination">
        
        <input id="in1" description="Read RAW File">
            <type>RAW</type>
            <path>./interface/input/27 (FTP Source)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT/>
        </input>
        
        <output id="out1" enabed="Y" description="Send to FTP Server">
            <ftpServer>192.168.1.51</ftpServer>
            <ftpPort>21</ftpPort>
            <ftpRemotePath>/</ftpRemotePath>
            <ftpUsername>middleware</ftpUsername>
            <ftpPassword>JFyWCV8y3uAP</ftpPassword>
            <path>./interface/output/27 (FTP Send)</path>
            <type>FTP</type>
            <XSLT/>
        </output>
        
    </map>
    
    <map id="map28" enabed="Y" description="Commander4j ProdDec to Marcellus Konnect">
        <input id="in1" description="Commander4j ProdDec">
            <type>XML</type>
            <path>./interface/input/28 (C4J - Production Declaration)</path>
            <mask/>
            <pollingInterval>1000</pollingInterval>
            <XSLT/>           

        </input>
        
        <output id="out1" enabed="Y" description="Write Marcellus Konnect">
            <path>./interface/output/28 (Marcellus - Production Declaration)</path>
            <type>XML</type>
            <XSLT>C4J_PRODDEC_XML_to_Marcellus_XML.xsl</XSLT>
        </output>
        
        <output id="out2" enabed="Y" description="Write S95 Prod Dec">
            <path>./interface/output/28 (S95 - Production Declaration)</path>
            <type>XML</type>
             <XSLT>C4J_PRODDEC_XML_to_S95_PRODDEC_XML.xsl</XSLT>
        </output>
    </map>    
    
</config>
