body {
	color: #000000;
	background-color: #FFFFFF;
	margin: 1px;
	padding: 1px;
	border-style: none;
	font-family: Verdana, Helvetica, sans-serif;
    font-size: .6em;
	text-align: left;
}

a:link {
text-decoration: underline;}

a:hover {
text-decoration: underline;}

h1 {
	font-size: 12pt;
	font-weight: bold;
	text-align: centre;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4 {
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h5 {
	font-size: 7pt;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

button 
	{ 
    font-family: Tahoma;
    font-size: 8pt;
	margin: 1px;
	padding: 1px;
}	
	
label {
	font-size: 10pt;
	color: #0000FF;
	font-weight: bold;
}

select {
	width: 185px;
	font-size: 10pt;
}	

.splashTitle4J {color: #FF0000;font-size: x-large}

.splashTitleCommander {font-size: x-large}

.splashTitleVersion {font-size: large}

tableText {font-size: 8pt}

input[type="text"]
{
    font-size:12px;
}

input[type="password"]
{
    font-size:12px;
}

input[type=submit]{
    font-size: 12pt;
    margin:2px;
}

input[type=button]{
    font-size: 12pt;
    margin:2px;
}

xinput[type="radio"]{
    width:18px;
    height:18px;
    margin:1px;
    vertical-align:middle;
}


input[type="radio"] {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
