body {
	color: #000000;
	background-color: #FFFFFF;
	margin: 1px;
	padding: 1px;
	border-style: none;
	font-family: Times, "Times New Roman", serif;
	font-size: 10pt;
	text-align: left;
}

a:link {
text-decoration: underline;}

a:hover {
text-decoration: underline;}

h1 {
	font-size: 12pt;
	font-family: Times, "Times New Roman", serif;
	font-weight: bold;
	text-align: centre;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
	font-size: 10pt;
	font-family: Times, "Times New Roman", serif;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
	font-size: 9pt;
	font-family: Times, "Times New Roman", serif;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4 {
	font-size: 8pt;
	font-family: Times, "Times New Roman", serif;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h5 {
	font-size: 7pt;
	font-family: Times, "Times New Roman", serif;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

button 
	{ 
	font-family: Times, "Times New Roman", serif;
	font-size: 10pt;
	margin: 1px;
	padding: 1px;
}	
	
label {
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
	color: #0000FF;
	font-weight: bold;
}

select {
	width: 185px;
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
}	

