p {
  font-size: 24px;
}

body {
	font-size: 24px;
}

button {
        background-color: yellow;
        color: black;
        text-align: center;
        font-size: 24px;
  }
  
          
a:link {
text-decoration: underline;}

a:hover {
text-decoration: underline;}

h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: centre;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h5 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #FF0000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

small {
	font-size: 24px;
	text-align: center;
	color: #FF3C33;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


button 
	{ 
    font-size: 24px;
	margin: 1px;
	padding: 1px;
}	
	
label {
	font-size: 24px;
	color: #0000FF;
	font-weight: bold;
}

select {
	width: 185px;
	font-size: 10pt;
}	

.splashTitle4J {color: #FF0000;font-size: 48px}

.splashTitleCommander {font-size:48px}

.splashTitleVersion {font-size: 24px}

tableText {font-size: 20pt}

input[type="text"]
{
    font-size:22pt;
}

input[type="password"]
{
    font-size:22pt;
}

input[type=submit]{
    font-size: 24pt;
    margin:2px;
}

input[type=button]{
    font-size: 24pt;
    margin:2px;
}


input[type="radio"] {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

input[type="checkbox"]{
  width: 60px; /*Desired width*/
  height: 60px; /*Desired height*/
}