<?xml version="1.0" encoding="UTF-8"?>
<?com.commander4j.xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/com.commander4j.xml/ns/jakartaee" xmlns:web="https://xmlns.jcp.org/com.commander4j.xml/ns/javaee" xmlns:web_1="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" metadata-complete="false" version="5.0">
  <web_1:display-name>c4j_web_WS</web_1:display-name>
  <web_1:description>C4J Panel Results</web_1:description>
  <web_1:welcome-file-list>
    <web_1:welcome-file>index.html</web_1:welcome-file>
    <web_1:welcome-file>index.jsp</web_1:welcome-file>
    <web_1:welcome-file>index.htm</web_1:welcome-file>
    <web_1:welcome-file>default.html</web_1:welcome-file>
    <web_1:welcome-file>default.jsp</web_1:welcome-file>
    <web_1:welcome-file>default.htm</web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>TrayController</web_1:display-name>
    <web_1:servlet-name>TrayController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JQMTrayController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>TraySampleController</web_1:display-name>
    <web_1:servlet-name>TraySampleController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JQMTraySampleController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>TrayResultController</web_1:display-name>
    <web_1:servlet-name>TrayResultController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JQMTrayResultController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>PanelController</web_1:display-name>
    <web_1:servlet-name>PanelController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JQMPanelController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>UserController</web_1:display-name>
    <web_1:servlet-name>UserController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JQMUserController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>ControlController</web_1:display-name>
    <web_1:servlet-name>ControlController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JDBControlController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>SelectListController</web_1:display-name>
    <web_1:servlet-name>SelectListController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.c4jWS.JDBQMSelectListController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>TrayController</web_1:servlet-name>
    <web_1:url-pattern>/Trays</web_1:url-pattern>
    <web_1:url-pattern>/Trays/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>TraySampleController</web_1:servlet-name>
    <web_1:url-pattern>/TraySamples</web_1:url-pattern>
    <web_1:url-pattern>/TraySamples/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>TrayResultController</web_1:servlet-name>
    <web_1:url-pattern>/TrayResults</web_1:url-pattern>
    <web_1:url-pattern>/TrayResults/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>PanelController</web_1:servlet-name>
    <web_1:url-pattern>/Panels</web_1:url-pattern>
    <web_1:url-pattern>/Panels/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserController</web_1:servlet-name>
    <web_1:url-pattern>/Users</web_1:url-pattern>
    <web_1:url-pattern>/Users/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ControlController</web_1:servlet-name>
    <web_1:url-pattern>/Controls</web_1:url-pattern>
    <web_1:url-pattern>/Controls/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>SelectListController</web_1:servlet-name>
    <web_1:url-pattern>/SelectLists</web_1:url-pattern>
    <web_1:url-pattern>/SelectLists/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:listener>
    <web_1:listener-class>com.commander4j.c4jWS.AppServletSessionListener</web_1:listener-class>
  </web_1:listener>
  <web_1:listener>
    <web_1:listener-class>com.commander4j.c4jWS.AppServletContextListener</web_1:listener-class>
  </web_1:listener>
  <web_1:session-config>
    <web_1:session-timeout>60</web_1:session-timeout>
  </web_1:session-config>
</web_1:web-app>