<?xml version="1.0" encoding="UTF-8"?>
<?com.commander4j.xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/com.commander4j.xml/ns/jakartaee" xmlns:web="https://xmlns.jcp.org/com.commander4j.xml/ns/javaee" xmlns:web_1="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" metadata-complete="false" version="5.0">
  <display-name>c4j_web_WS</display-name>
  <description>C4J Panel Results</description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrayController</display-name>
    <servlet-name>TrayController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JQMTrayController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TraySampleController</display-name>
    <servlet-name>TraySampleController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JQMTraySampleController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TrayResultController</display-name>
    <servlet-name>TrayResultController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JQMTrayResultController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PanelController</display-name>
    <servlet-name>PanelController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JQMPanelController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JQMUserController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ControlController</display-name>
    <servlet-name>ControlController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JDBControlController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SelectListController</display-name>
    <servlet-name>SelectListController</servlet-name>
    <servlet-class>com.commander4j.c4jWS.JDBQMSelectListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrayController</servlet-name>
    <url-pattern>/Trays</url-pattern>
    <url-pattern>/Trays/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TraySampleController</servlet-name>
    <url-pattern>/TraySamples</url-pattern>
    <url-pattern>/TraySamples/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrayResultController</servlet-name>
    <url-pattern>/TrayResults</url-pattern>
    <url-pattern>/TrayResults/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PanelController</servlet-name>
    <url-pattern>/Panels</url-pattern>
    <url-pattern>/Panels/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/Users</url-pattern>
    <url-pattern>/Users/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlController</servlet-name>
    <url-pattern>/Controls</url-pattern>
    <url-pattern>/Controls/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectListController</servlet-name>
    <url-pattern>/SelectLists</url-pattern>
    <url-pattern>/SelectLists/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.commander4j.c4jWS.AppServletSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.commander4j.c4jWS.AppServletContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>