<?xml version="1.0" encoding="UTF-8"?>
<?com.commander4j.xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/com.commander4j.xml/ns/jakartaee" xmlns:web="https://xmlns.jcp.org/com.commander4j.xml/ns/javaee" xmlns:web_1="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" metadata-complete="false" version="5.0">
  <web_1:display-name>c4j_web_Issue</web_1:display-name>
  <web_1:description>C4J Issue</web_1:description>
  <web_1:welcome-file-list>
    <web_1:welcome-file>index.html</web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>UserController</web_1:display-name>
    <web_1:servlet-name>UserController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMUserController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>ProcessOrderController</web_1:display-name>
    <web_1:servlet-name>ProcessOrderController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMProcessOrderController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>ResourceController</web_1:display-name>
    <web_1:servlet-name>ResourceController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMResourceController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>PalletController</web_1:display-name>
    <web_1:servlet-name>PalletController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMPalletController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>PalletHistoryController</web_1:display-name>
    <web_1:servlet-name>PalletHistoryController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMPalletHistoryController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>ReturnableController</web_1:display-name>
    <web_1:servlet-name>ReturnableController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMReturnableController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>ViewBOMController</web_1:display-name>
    <web_1:servlet-name>ViewBOMController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMViewBOMController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:description></web_1:description>
    <web_1:display-name>HostController</web_1:display-name>
    <web_1:servlet-name>HostController</web_1:servlet-name>
    <web_1:servlet-class>com.commander4j.controller.JQMHostController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserController</web_1:servlet-name>
    <web_1:url-pattern>/Users</web_1:url-pattern>
    <web_1:url-pattern>/Users/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ProcessOrderController</web_1:servlet-name>
    <web_1:url-pattern>/ProcessOrders</web_1:url-pattern>
    <web_1:url-pattern>/ProcessOrders/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ResourceController</web_1:servlet-name>
    <web_1:url-pattern>/Resources</web_1:url-pattern>
    <web_1:url-pattern>/Resources/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>PalletController</web_1:servlet-name>
    <web_1:url-pattern>/Pallets</web_1:url-pattern>
    <web_1:url-pattern>/Pallets/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>PalletHistoryController</web_1:servlet-name>
    <web_1:url-pattern>/PalletHistory</web_1:url-pattern>
    <web_1:url-pattern>/PalletHistory/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ReturnableController</web_1:servlet-name>
    <web_1:url-pattern>/Returnable</web_1:url-pattern>
    <web_1:url-pattern>/Returnable/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ViewBOMController</web_1:servlet-name>
    <web_1:url-pattern>/ViewBOM</web_1:url-pattern>
    <web_1:url-pattern>/ViewBOM/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>HostController</web_1:servlet-name>
    <web_1:url-pattern>/Host</web_1:url-pattern>
    <web_1:url-pattern>/Host/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:listener>
    <web_1:listener-class>com.commander4j.listener.AppServletSessionListener</web_1:listener-class>
  </web_1:listener>
  <web_1:listener>
    <web_1:listener-class>com.commander4j.listener.AppServletContextListener</web_1:listener-class>
  </web_1:listener>
  <web_1:session-config>
    <web_1:session-timeout>60</web_1:session-timeout>
  </web_1:session-config>
</web_1:web-app>