<?com.commander4j.xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/com.commander4j.xml/ns/jakartaee"
	xmlns:web="https://xmlns.jcp.org/com.commander4j.xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0" metadata-complete="false">
	<display-name>c4jIssue</display-name>
	<description>C4J Issue</description>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>UserController</display-name>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMUserController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ProcessOrderController</display-name>
		<servlet-name>ProcessOrderController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMProcessOrderController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ResourceController</display-name>
		<servlet-name>ResourceController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMResourceController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PalletController</display-name>
		<servlet-name>PalletController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMPalletController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PalletHistoryController</display-name>
		<servlet-name>PalletHistoryController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMPalletHistoryController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ReturnableController</display-name>
		<servlet-name>ReturnableController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMReturnableController</servlet-class>
	</servlet>
		<servlet>
		<description></description>
		<display-name>ViewBOMController</display-name>
		<servlet-name>ViewBOMController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMViewBOMController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>HostController</display-name>
		<servlet-name>HostController</servlet-name>
		<servlet-class>com.commander4j.controller.JQMHostController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/Users</url-pattern>
		<url-pattern>/Users/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessOrderController</servlet-name>
		<url-pattern>/ProcessOrders</url-pattern>
		<url-pattern>/ProcessOrders/*</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ResourceController</servlet-name>
		<url-pattern>/Resources</url-pattern>
		<url-pattern>/Resources/*</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>PalletController</servlet-name>
		<url-pattern>/Pallets</url-pattern>
		<url-pattern>/Pallets/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PalletHistoryController</servlet-name>
		<url-pattern>/PalletHistory</url-pattern>
		<url-pattern>/PalletHistory/*</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>ReturnableController</servlet-name>
		<url-pattern>/Returnable</url-pattern>
		<url-pattern>/Returnable/*</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ViewBOMController</servlet-name>
		<url-pattern>/ViewBOM</url-pattern>
		<url-pattern>/ViewBOM/*</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>HostController</servlet-name>
		<url-pattern>/Host</url-pattern>
		<url-pattern>/Host/*</url-pattern>
	</servlet-mapping>	
		
	<listener>
		<listener-class>com.commander4j.listener.AppServletSessionListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.commander4j.listener.AppServletContextListener</listener-class>
	</listener>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<filter>
		  <filter-name>CanonicalUrlFilter</filter-name>
		  <filter-class>com.commander4j.filter.CanonicalUrlFilter</filter-class>
		  <init-param>
			    <param-name>mapLocation</param-name>
			    <param-value>/WEB-INF/canon-paths.properties</param-value>
		  </init-param>
	</filter>
	
	<filter-mapping>
		  <filter-name>CanonicalUrlFilter</filter-name>
		  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>